<header>
  <span class="image avatar"><img src="images/avatar.png"/></span>
  <h1 id="logo"><a href="https://github.com/after12am/boids.js">boids.js</a></h1>
  <p>This library simulates bird flock and fish school consists of three simple rules.</p>
</header>
