<nav id="nav">
  <ul>
    <li><a <% if (active == 'seek') { %>class="active"<% } else { %>href="seek.html"<% } %>>seek</a></li>
    <li><a <% if (active == 'arrive') { %>class="active"<% } else { %>href="arrive.html"<% } %>>arrive</a></li>
    <li><a <% if (active == 'flee') { %>class="active"<% } else { %>href="flee.html"<% } %>>flee</a></li>
    <li><a <% if (active == 'wander') { %>class="active"<% } else { %>href="wander.html"<% } %>>wander</a></li>
    <li><a <% if (active == 'patrol') { %>class="active"<% } else { %>href="patrol.html"<% } %>>patrol</a></li>
    <li><a <% if (active == 'flock') { %>class="active"<% } else { %>href="flock.html"<% } %>>flock</a></li>
    <li><a <% if (active == 'colorize') { %>class="active"<% } else { %>href="colorize.html"<% } %>>colorize</a></li>
  </ul>
</nav>
